<style type="text/css">
.logo{

  display: flex;
  flex-direction: column;
  justify-content : center;
  margin: auto;
  width : 400px;
  height: 300px;
}
.display_flex{
  display: flex;
  justify-content : center;
  
}

.logo img{
  height: 100px;
  width: 100px;
}

.row{ 
  width: 100%;
}


</style>
<div style="" class="half-container">
<div class="logo">
  <img  src="ivom.png" />


	<span class="text_heading">get Acces to your Home Town Quickly</span>
</div>	
</div>
<br>
<br>
<div class="container">
	
<div class="row ">
        <div class="col s12 m4 offset-2">
          <div class="card equalised">
    <div class="card-image waves-effect waves-block waves-light">
      <img  height="275" width="276" src="Mysore_railway_station.JPG" class="activator" >
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#show_route">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>
        <div class="col s12 m4 offset-2">
          <div class="card equalised">
    <div class="card-image waves-effect waves-block waves-light">
      <img  height="275" width="276" src="/map.png" class="activator" >
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#show_maps">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>
          <div class="col s12 m4 offset-2">
          <div class="card equalised">
    <div class="card-image waves-effect waves-block waves-light">
      <img  height="275" width="276" src="/map.png" class="activator" >
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#show_trains">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>
      </div>
    </div>
            

	<!-- <div class="flex-items">
		<img src="/Mysore_railway_station.JPG" />
	<div class="content-wrap">
	<span class = "text_head">
	Train running Info About  your Stations
	</span>
	<a type="button" href="#show_route" class="btn btn-default btn-material"> Train route path </a>
</div>
	</div>
	<div class="flex-items">
		<img src="/map.png" />
<div class="content-wrap">
	<span class = "text_head">
	Get info about Trains
	</span>
	<a type="button" href="#show_route" class="btn btn-default btn-material"> Trains Routes </a>
</div>

	</div>
	<div class="flex-items">
		<img src="/irctc-logo-copy.jpg" />
		<div class="content-wrap">
	<span class = "text_head">
Check Seats Availibilty
	</span>
<a type="button"  href="#show_trains" class="btn btn-default btn-material">Get Seats Availibility</a>
	
	</div>
	</div> -->
</div>

