<style type="text/css">

</style>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<a class="navbar-brand" href="#">Title</a>
	<ul class="nav navbar-nav">
		<li class="active">
			<a href="#">Home</a>
		</li>
	<li>
	<input type="text" ng-model="search_train" name="" placeholder="train name or no" id="input" class="form-control" value="" required="required" pattern="" title="">
	</li>
	</ul>
</nav>
<div ng-controller="List_Train_Controller">
	
	<div class="parent_container">
<div ng-repeat="trains in datarecords">
	

</div>
</div>